<div class="background-footer" *ngIf="hideFooter()">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <ul class="footer-content">
          <li>Connect</li>
          <li><a>Facebook</a></li>
          <li><a>Instagram</a></li>
          <li><a>Twitter</a></li>
          <li><a>vk</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <ul class="footer-content">
          <li>Contact</li>
          <li>Zaporozhye</li>
          <li>Dnepr</li>
          <li>Kiev</li>
          <li>Lviv</li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <p class="footer">©2018 SimpleBlog, Inc. All Rights Reserved.</p>
      </div>



    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">

      </div>
    </div>
  </div>
</div>


