<div class="background">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header block">
          <h2 class="join" (click)="goToSignUpPage()">join us</h2>
          <p class="p-header">SimpleBlog change your mind, create your mind...</p>
        </div>
        <div class="image-block block"></div>

        <div class="content-block-one block">
          <p class="p-content-text-one">Some content text!Consider running a monochromatic filter over
            some of your photographs just as Rook
            have done here for their team member portraits.
            This will give you a tighter hold on the colors used in
            your About Us page and help to keep your palette
            small and strong, giving you a chance to really
            make use of your signature brand colors.</p>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 block">
            <div class="img">
              <div class="img-work-place"></div>
              <p class="img-text">Work</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 block">
            <div class="img">
              <div class="img-friend"></div>
              <p class="img-text">Friends</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 block">
            <div class="img">
              <div class="img-team"></div>
              <p class="img-text">Team</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 block">
            <div class="content-block-two">
              <h3 class="our-place">Our work place</h3>
              <p class="p-content-text-one">Some content text!Consider running a monochromatic filter over
                some of your photographs just as Rook
                have done here for their team member portraits.
                This will give you a tighter hold on the colors used in
                your About Us page and help to keep your palette
                small and strong, giving you a chance to really
                make use of your signature brand colors.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 block ">
            <div class="img-block place"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 block">
            <div class="img-block team-work"></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 block ">
            <div class="content-block-two">
              <h3 class="our-place">Team work</h3>
              <p class="p-content-text-one">Some content text!Consider running a monochromatic filter over
                some of your photographs just as Rook
                have done here for their team member portraits.
                This will give you a tighter hold on the colors used in
                your About Us page and help to keep your palette
                small and strong, giving you a chance to really
                make use of your signature brand colors.</p>
            </div>
          </div>
        </div>

        <div class="content-block-three block">
          <h3 class="our-place">Friends in life!</h3>
        </div>
        <div class="image-block-friends block"></div>

        <div class="content-block-fourth block">
          <h2 class="our-place part">Partial client list</h2>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <ul class="client-part">
                <li>Target</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>The New York Times</li>
                <li>Random House</li>
              </ul>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
              <ul class="client-part">
                <li>Target</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>The New York Times</li>
                <li>Random House</li>
              </ul>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
              <ul class="client-part">
                <li>Target</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>The New York Times</li>
                <li>Random House</li>
              </ul>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
              <ul class="client-part">
                <li>Target</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>The New York Times</li>
                <li>Random House</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




